[submodule "hardware/MCAD"]
	path = hardware/MCAD
	url = https://github.com/jgrizou/MCAD.git
[submodule "hardware/segment-scad"]
	path = hardware/segment-scad
	url = https://github.com/jgrizou/segment-scad.git
[submodule "hardware/robotis-scad"]
	path = hardware/robotis-scad
	url = https://github.com/jgrizou/robotis-scad.git
[submodule "hardware/raspberry-scad"]
	path = hardware/raspberry-scad
	url = https://github.com/jgrizou/raspberry-scad.git
[submodule "hardware/lego-scad"]
	path = hardware/lego-scad
	url = https://github.com/jgrizou/lego-scad.git
